.iframe-container {
   position: relative;
    padding-bottom: 90%; // (450 ÷ 500 = 0.9 = 90%)
    height: 0;
    overflow: hidden;
}
.iframe-container iframe {
  position: absolute;
    top: 0;
    left: -3000;
    width: 30%;
    height: 100%;
    border: 0;
}
