	.iframe-container {
		overflow: hidden;
		width: 400px; /* Ширина окна */
		height: 300px; /* Высота окна */
	}

	.iframe-site {
		overflow:hidden;
		border: 0px;
		margin-left: -1000; /* Положение по горизонтали */
		margin-top: -33px; /* Положение по вертикали */
		width: 1000px;
		height: 1000px;
	}
